/* navbar */

@media only screen and (min-width:0px) and (max-width:920px) {
    .nav {
        background-color: white;
        height: 70px;
        padding: 0 20px;
    }

    .nav ul li a {
        color: black;
    }

    .nav .logo {
        background-image: url(images/logo-dark.jpg);
        width: 7rem;
        height: 2.26rem;
    }

    .nav .nav-2nd .login,
    .nav .nav-2nd .abo-con,
    .nav .anchors {
        display: none;
    }

    .nav-2nd-span {
        font-size: 1.2rem;
    }

    .amount-cart ul li a,
    .login ul li a {
        padding: 0 1.3vw;
    }

    .burger-icon {
        height: 50px;
        margin-left: 8px;
    }

    .burger-icon-parent {
        display: block;
    }

    .product-count {
        background-color: black;
        color: white;
    }
}