/* navbar */

@media only screen and (min-width:0px) and (max-width:920px) {
    .nav {
        background-color: white;
        height: 60px;
        padding: 0 20px;
    }

    .nav ul li a {
        color: black;
    }

    .nav .logo {
        background-image: url(images/logo-dark.jpg);
        width: 7rem;
        height: 2.26rem;
    }

    .nav .nav-2nd .login,
    .nav .nav-2nd .abo-con,
    .nav .anchors {
        display: none;
    }

    .nav-2nd-span {
        font-size: 1.2rem;
    }

    .amount-cart ul li a,
    .login ul li a {
        padding: 0 1.3vw;
    }

    .burger-icon {
        margin-left: 8px;
    }

    .burger-icon-parent {
        display: block;
    }

    .product-count {
        background-color: black;
        color: white;
        top: -12px;
        right: -7px;
    }
    .bg-container {
        height: 110vh;
    }

    .bg-con-1 {
        font-weight: unset;
    }
}

/* bg content */

@media only screen and (min-width:0px) and (max-width:766px) {
    .bg-con-1 {
        font-size: 2.1rem;
        width: 100%;
        padding: 0 3px 14px;
        text-wrap: pretty;
        text-align: center;
        /* height: 5.9rem; */
    }

    .bg-con-2 {
        font-size: 1.5rem;
        margin: 7px 0 32px;
    }

    .bg-con-3 {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 109px;
        align-items: center;
        justify-content: space-between;
    }

    .bg-btn {
        width: 100%;
        margin: 0;
    }
    
    .bg-content-container {
        position: unset;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: unset;
        margin: 0;
        margin-top: 42px;
    }

    .cards-parent {
        flex-direction: column;
    }
    
    .cards {
        margin-bottom: 20px;
        width: 90%;
    }
}

/*  */

@media only screen and (min-width:545px) and (max-width:766px) {
    .bg-con-1{
        font-size: 3rem;
        padding: 0 71px;
    }

    .bg-con-2 {
        font-weight: lighter;
        margin-top: 12px;
    }

}

/*  */

@media only screen and (min-width:767px) and (max-width:921px) {
    .bg-con-1 {
        width: 69%;
        font-size: 3.5rem;
    }
}

@media only screen and (min-width:0px) and (max-width:510px) {
    .bg-container::before {
        background-size: cover;
        background-position: unset;
    }
}