/* css rest */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: lato, sans-serif;
}

html {
    font-size: 14px;
}

/* nav section */

.bg-container {
    background: linear-gradient(164deg, #235d80 47%, #00000000 117%, #000000);
    ;
    width: 100%;
    height: 120vh;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.bg-container::before {
    content: "";
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-image: url(images/bg-file.png);
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    z-index: -1;
    opacity: 0.7;
}

.nav {
    z-index: 10;
    background-color: #00000012;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px;
}

.nav-1st,
.nav-2nd {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    background-image: url(images/dnk.jpg);
    background-size: 100%;
    width: 10rem;
    height: 3.33rem;
}

.nav-2nd ul,
.amount-cart ul,
.login ul,
.anchors ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-2nd ul li a {
    font-weight: lighter;
    font-size: 1rem;
    padding: 0 13px;
    color: white;
    text-decoration: none;
}

.amount-cart ul li a,
.login ul li a {
    font-weight: lighter;
    font-size: 1rem;
    padding: 0px 11px;
    color: white;
    text-decoration: none;
}

.login ul li a {
    padding: 0 0 0 10px;
}

.nav-2nd-span {
    font-size: 1.4rem;
    font-weight: 799;
}

.anchors ul li a {
    font-size: 1.1rem;
    font-weight: 700;
    padding: 0 14px;
    color: white;
    text-decoration: none;
}

.nav-2nd i {
    font-size: 1.45rem;
    position: relative;
}

.product-count {
    padding: 2px 4px;
    position: absolute;
    top: -14px;
    right: -9px;
    background-color: white;
    border-radius: 7px;
    font-size: 0.9rem;
    font-weight: 700;
    color: black;
}

.burger-icon {
    width: 42px;
    height: 40px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.burger-icon .b-i-1 {
    width: 30px;
    height: 2px;
    margin: 3px 0;
    background-color: white;
}

.burger-icon-parent {
    display: none;
}

.bg-content {
    height: calc(100% - 100px);
    display: flex;
    justify-content: start;
}

.bg-content-container {
    color: white;
    font-weight: 600;
    margin: 9vw 0 207px 78px;
    height: 302px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bg-con-1 {
    font-size: 4rem;
    width: 43rem;
    font-weight: bolder;
}

.bg-con-2 {
    margin: 10px 0 20px;
    font-size: 1.88rem;
}

.bg-btn {
    width: 10.1rem;
    height: 3.3rem;
    font-weight: 600;
    font-size: 1rem;
    transition-property: all;
    transition-duration: 0.6s;
    cursor: pointer;
}

.bg-btn-1 {
    margin-right: 17px;
    color: #000000;
    background-color: #f5f7f9;
    border: none;
}

.bg-btn-2 {
    color: white;
    background-color: transparent;
    border: 1px solid white;
}

.bg-btn-1:hover {
    background-color: #000000;
    color: #f5f7f9;
}

.bg-btn-2:hover {
    color: #000000;
    background-color: white;
}

/* section 2 */

.sec-2 {
    /* height: 200px; */
    padding: 100px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.first-cards {
    margin: auto;
    width: 100%;
}

.cards-parent {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-evenly;
}

.cards {
    background-size: cover;
    background-position: center;
    width: 30%;
    background-color: tomato;
    height: 480px;
    margin: 0 0 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    overflow: hidden;
}

.txt-big {
    color: white;
    font-size: 1.9rem;
    width: 90%;
    /* text-align: center; */
    margin: 0 auto 15px;
}

.txt-sm {
    margin: 0 auto;
    width: 90%;
    line-height: 1.39;
    color: white;
    font-size: 1.49rem;
}

.fcard-btn {
    margin: 25px auto 60px;
    width: 90%;
}

/* sec 4 */

.sec-4 {
    background-color: #f5f7f9;
}

.hd {
    padding-top: 110px;
    font-size: 3rem;
    font-weight: 600;
    margin: 0 auto;
    width: 372px;
}

.hd-border {
    height: 4px;
    background: #0084d6;
    width: 40%;
    margin: 25px auto 20px;
}

.pro-cards-sec {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 35px;
}

.pro-card {
    height: auto;
    background-color: #dedede5c;
    width: 19%;
    margin: 20px 0;
    padding-bottom: 30px;
    cursor: pointer;
}

.pro-img {
    background-image: url(images/product-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 220px;
    margin-bottom: 12px;
}

.pro-txt-parent {
    width: 95%;
    text-transform: uppercase;
    margin-left: auto;
}

.pro-name {
    margin-bottom: 8px;
    font-size: 1.4rem;
}

.anchor {
    color: black;
    text-decoration: none;
}

.pro-category {
    font-size: 1rem;
    color: #818182;
    margin-bottom: 6px;
}

.pro-price {
    margin-bottom: 7px;
    font-size: 1.5rem;
}

.pro-color {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70px;
    margin-bottom: 10px;
}

.pro-color-picker {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: springgreen;
}

.pro-rating {
    color: #979790;
    font-size: 1.3rem;
}

.sec-5 {
    background: linear-gradient(154deg, #367cab, #4f7b9a, #6d6464);
    height: 500px;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    margin: 70px 30px 0;
}

.sec-5::before {
    content: "";
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-image: url(images/bg-2.jpg);
    position: absolute;
    background-repeat: no-repeat;
    background-position: 90%;
    background-size: contain;
    z-index: -1;
    opacity: 0.9;
}

.sec-5-content {
    margin-left: 54px;
    color: white;
    display: flex;
    height: 310px;
    width: 70%;
    flex-direction: column;
    justify-content: space-evenly;
}

.sec5-txtsm {
    font-size: 1.8rem;
}

.sec-5-lorem {
    width: 610px;
    font-size: 1.2rem;
    line-height: 1.69;
}

.sec5-txtbig {
    font-size: 3rem;
    font-weight: bold;
}

.sec-6 {
    /* height: 400px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 100px 0;
}

.sec6-content {
    height: 250px;
    margin: 5px;
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.sec6-con-1 {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 80px;
    height: 60px;
}

.sec6-con-2 {
    font-size: 20px;
}

.sec6-con-3 {
    color: gray;
    font-size: 16px;
    width: 100%;
}

.sec-7 {
    height: 200px;
    display: flex;
    align-items: center;
    padding: 0 0 0 55px;
    font-size: 2rem;
    font-weight: bolder;
}

.sec7-txt a {
    color: black;
    text-decoration: none;
    transition: color .2s linear;
}

.sec7-txt a:hover {
    color: #0075be;
    cursor: pointer;
}

.sec-8 {
    padding: 80px 160px 110px;
    border-bottom: 1.5px solid #dddddd;
    border-top: 1.5px solid #dddddd;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sec8-content {
    display: flex;
    flex-direction: column;
    height: 80%;
    /* background-color: chartreuse; */
    margin: 5px;
}

.sec8-con-1 {
    margin: -10px;
    font-size: 1.4rem;
    font-weight: bolder;
}

.sec8-con-2 {
    margin-bottom: 25px;
}

.sec8-content h2 {
    font-size: 22px;
    font-weight: lighter;
    margin-bottom: 20px;
}

.sec8-content a {
    text-decoration: none;
    font-size: 16px;
    color: rgb(0 0 0 / 51%);
    margin: 8px 0;
}

.sec8-content a:hover {
    color: #0075be;
}

.sec8-content input {
    height: 40px;
    width: 160%;
    border: 1px solid #e2e2e2;
    margin-bottom: 20px;
    padding: 0 10px;
    outline: none;
}

.sec8-content button {
    padding: 16px 28px;
    background-color: #0084d6;
    color: white;
    border: none;
    font-weight: bolder;
    font-size: 1.2rem;
}

.sec8-content button:hover {
    background-color: #0075be;
    cursor: pointer;
}

.footer {
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.footer-txt {
    margin-left: 30px;
    font-size: 1.3rem;
}

.footer-icon {
    font-size: 1.7rem;
    margin-right: 30px;
    padding: 0 0 10px;
}

.footer-icon i {
    padding-left: 10px;
    color: black;
}

.footer-icon i:hover {
    color: #0075be;
}

.slider {
    width: 80%;
    display: flex;
    overflow: hidden;
}

.images img {
    width: 150px;
    margin: 0 22px;
}

.animation {
    animation-name: moveleft;
    animation-duration: 17s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes moveleft {
    0% {
        transform: translateX(0px);
    }

    10% {
        transform: translateX(-222px);
    }

    25% {
        transform: translateX(-422px);
    }

    50% {
        transform: translateX(-622px);
    }

    75% {
        transform: translateX(-822);
    }

    85% {
        transform: translateX(-1022px);
    }

    100% {
        transform: translateX(0px);
    }

}

.move {
    display: flex;
}

.button:hover {
    animation-play-state: paused;

}

.move:hover {
    animation-play-state: paused;
}

.images {
    margin: 0 auto;
}

/* add to cart sidebar */

.cart-sidebar {
    background-color: white;
    color: black;
    height: 100vh;
    width: 0%;
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    overflow: hidden;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.cart-sidebar-toggle {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-sidebar-head {
    border-bottom: 1px solid #e2e2e2;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
}

.add-to-cart-txt {
    font-size: 1.3rem;
    width: 146px;
    text-align: end;
}

.add-to-cart-btn {
    transform: rotate(45deg);
    font-size: 4rem;
    width: 50px;
    font-weight: 100;
    cursor: pointer;
}

.add-to-cart-shopbtn {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.add-to-cart-shopbtn button {
    width: 80%;
    height: 50px;
    color: white;
    background-color: #0084d6;
    border: none;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
}

.add-to-cart-shopbtn button:hover {
    background-color: #0075be;
}

.add-to-cart-msg-con {
    /* height: 76%; */
    display: flex;
    align-items: center;
    font-weight: lighter;
    font-size: 1.7rem;
    justify-content: center;
}

.nav-sidebar{
    background-color: white;
    color: black;
    height: 100vh;
    width: 0%;
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    overflow: hidden;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;   
}

.nav-sidebar-toggle {
    width: 80%;
    overflow-y: scroll;
}

.nav-sidebar-close-btn {
    position: absolute;
    right: 0;
    transform: rotate(45deg);
    font-size: 4rem;
    width: 50px;
    font-weight: 100;
    cursor: pointer;
}

.nav-sidebar-login a {
    font-size: 2rem;
    padding-left: 40px;
    color: black;

}

.nav-sidebar-anchors {
    height: 60px;
    font-weight: bolder;
    font-size: 1.1rem;
    display: flex;
    background-color: #f5f7f9;
    align-items: center;
    padding-left: 35px;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
}

.nav-sidebar-anchors a {
    text-decoration: none;
    color: black;
}